.container {
  display: flex;
  flex-direction: column;
}
.animeList_container {
  display: grid;
  width: 70%;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  margin-bottom: 3rem;
}

@media (min-width: 1280px) {
  .animeList_container {
    /* grid-template-columns: repeat(4, minmax(240px, 1fr)); */
  }
}
