.container {
  display: flex;
  flex-direction: column;
}
.animeList_container {
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
}
